body {
    background-color: #111;
    color: #eee;
    margin: 8px;
}

section {
    margin: 0 auto;
    max-width: 1024px;
    max-height: 384px;
}

a {
    color: #00aadd;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

span {
    color: #aadd00;
}
